/* Variables */
:root {
  --Visited-Button-bg: rgb(237, 190, 196);
  --Unvisited-Button-bg: rgb(239, 239, 239);
  --Main-Background: rgb(246, 247, 252);
  --Background: rgb(245, 164, 145);
  --Green-Leaf: rgb(180, 158, 127);
  --Green: #e1ebd5;
  --DarkGreen: #8da86d;
}

@font-face {
  font-display: swap;
  font-family: FuturaLight;
  src: url(../Fonts/Futura-Light.woff);
}

@font-face {
  font-display: swap;
  font-family: ProximaNova;
  src: url(../Fonts/Proxima-Nova-Regular.woff);
}

.home-contact {
  padding: 60px 0;
  background-color: #f5f5f5;
}

/* journal section */
.journal-reason {
  display: grid;
  grid-template-rows: 1fr 1fr;
  outline: 1px solid #212325;
  outline-offset: -20px;
}

.tell-me-why {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  gap: 0px 0px;
  margin: 20px 20px 0;
}

.tell-me-why2 {
  display: grid;
  grid-template-columns: 2.1fr 0.8fr 0.8fr;
  margin: 0 20px 20px;
}

.reasons {
  /* border: 1px solid #e1ebd5; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left !important;
}

.point1, .point2, .point3 {
  border-bottom: 1px solid #212325;
}

.point2, .point5 {
  border-left: 1px solid #212325;
  border-right: 1px solid #212325;
}

@media screen and (max-width: 991px) {
  .tell-me-why, .tell-me-why2 {
    display: block;
  }

  .tell-me-why {
    margin: 25px 20px 0;
  }

  .point1, .point2, .point3, .point4, .point5 {
    border-bottom: 1px solid #212325;
    border-left: unset;
    border-right: unset;
  }

  .reasons {
    padding: 10px;
  }
}
