/* Variables */
:root {
  --Visited-Button-bg: rgb(237, 190, 196);
  --Unvisited-Button-bg: rgb(239, 239, 239);
  --Main-Background: rgb(246, 247, 252);
  --Background: rgb(245, 164, 145);
  --Green-Leaf: rgb(180, 158, 127);
}
