h1 {
  font-size: 1rem;
}

.therapist-parent-container {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.therapist-container {
  padding: 20px;
  flex-basis: 33.3333333%;
}
@media (max-width: 800px) {
  .therapist-parent-container {
    flex: 100%;
  }
}