.loading {
  position: fixed;
  top: 40vh;
  right: 50vw;
  display: flex;
  justify-content: center;
}

.loading-full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(./eirene_logo.svg);
  opacity: 0.5;
  border-radius: 50%;
  animation: loading 0.7s ease-in-out infinite alternate;
  box-shadow: -4px 3px 53px -3px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -4px 3px 53px -3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -4px 3px 53px -3px rgba(0, 0, 0, 0.62);
}

.hide {
  display: none;
}

@keyframes loading {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.75);
  }
}
