.textField {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  height: 54px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  color: var(--font2);
  font-size: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.remember-me {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
}

.remember-me span {
  position: relative;
  top: 0.2rem;
  color: #888888;
}

.remember-me input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.remember-me div {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.remember-me input:checked ~ div {
  background-color: #edbec4;
}

.remember-me input:checked ~ div::after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -1px;
  font-size: 16px;
  color: #ffffff;
}

.mb-3 {
  margin-bottom: unset !important;
}

.login:hover {
  color: #ffffff;
}

.link:hover {
  color: #f5a490;
}

.loginButton:hover {
  background-color: #edafb6 !important;
}

.signUp:hover {
  background-color: #ded9d9 !important;
}
