.textfield, .textarea {
	border: unset;
	border-radius: unset;
	border-bottom: 1px solid #8d8d8d;
	background-color: #f5f5f5;
}

.contact-container {
	background-color: #f5f5f5;
}

.textfield:focus, .textarea:focus {
	background-color: #f5f5f5;
	border-bottom: 1px solid #8d8d8d;
	box-shadow: unset;
}