::-webkit-scrollbar {
  width: 0.3em;
  z-index: 5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.react-tabs {
  display: flex;
  height: 100vh;
  /* border: 1px solid #3c3e43; */
  /* color: white; */
  /* background: #1c1d1f; */
  width: 90%;
  margin: 15px auto;
}
.scroll {
  overflow-y: scroll;
}
.react-tabs__tab-list {
  display: flex;
  height: '100%';
  flex-direction: column;
  width: 150px;
  margin: 0;
  padding: 10px;
  color: white;
  background: #dcedc8;

  border-radius: 15px;
}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
}

.react-tabs__tab--selected {
  /* background: #1c1d1f; */
  border-top-right-radius: 0px;
  /* border-color: #1c1d1f; */
  /* color: white; */
}

.react-tabs__tab-panel {
  display: none;

  flex: 4 1;
  padding-bottom: 20px;
  padding-left: 12px;
  /* margin-top: 12px; */
  background: #fbfbfb;
  position: relative;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
  width: 100%;
}
.text-area {
  resize: none;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #8d8d8d;
  font-family: FuturaLight;
  width: 90%;
  background: #fbfbfb;
}

.entry-text {
  margin-top: 20px;
  resize: auto;
}

.submit-entry-button {
  background-color: #dcedc8;
  width: 90%;
  font-family: FuturaLight;
  margin-top: 10px;
  border: unset;
  height: 50px;
  color: #212529;
}

.submit-entry-button:hover {
  background-color: #e1ebd5;
  border: unset;
}

.text-area:focus {
  /* color: #FFF; */
  background-color: transparent;
  resize: none;
  box-shadow: unset;
  border-color: unset;
}
.react-tabs__tab--selected {
  padding-left: 21px;
}

.bodyAndButtonsContainer {
  /* background-color: yellow; */
  flex-direction: row;
  text-align: right;
  height: 100%;
  padding: 0px 25px 0px 25px;
}

.edit-button {
  flex: 1;
  margin-right: 10px;
  width: 140px;
}

.new-journal-button {
  background-color: #dcedc8;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fbfbfb;
}
.panel-content {
  padding: 0px 0px 0px 5px;
  text-align: left;
}

.react-tabs__tab--selected {
  border-color: unset;
  color: #212529;
}

.react-tabs__tab {
  border: unset;
}

.react-tabs__tab-list {
  border-bottom: unset;
}

.journal-banner {
  background-color: #dcedc8;
  text-align: center;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(33, 37, 41, 0.3),
      rgba(33, 37, 41, 0.3)
    ),
    url('https://res.cloudinary.com/cloudloom/image/upload/v1651846893/samples/Profile/journal-banner_i7n6t8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  font-family: FuturaLight;
  color: #212529;
}

.journal-banner h2 {
  font-size: 70px;
  font-weight: bold;
  align-self: end;
}

.journal-banner p {
  font-size: 20px;
}

.journal-header-login {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.journal-header-login h2 {
  padding-top: 4%;
}
