.react-tabs {
  font-family: FuturaLight;
  line-height: 1.5;
  color: #212529;
  min-height: 100vh;
}

/* entry body */
.entry-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.entry-body {
  white-space: pre-wrap;
}

/* buttons */
.new-journal-button div::after {
  content: '\f067';
}

.edit-entry-button div::after {
  content: '\f040';
}

.delete-entry-button div::after {
  content: '\f1f8';
}

.new-journal-button div::after, .edit-entry-button div::after, .delete-entry-button div::after {
  font-family: 'icomoon';
  font-size: 20px;
  cursor: pointer;
}

.bodyAndButtonsContainer {
  position: relative;
}

.button-holder {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
}

/* tabs */
.scroll {
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
  height: 12px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #aab74d;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}

.react-tabs__tab-list {
  border-bottom: none;
}