.textField {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  height: 54px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  color: var(--font2);
  font-size: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.mb-3 {
  margin-bottom: unset !important;
}

.signup:hover {
  color: #ffffff;
}

.signUpButton:hover {
  background-color: #edafb6 !important;
}
.secondaryButton:hover {
  background-color: #ded9d9 !important;
}
